In [1]:
import pandas as pd

In [2]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz')

/tmp/ipykernel_24157/1139265719.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz')

In [3]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [4]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
# Check data types
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [6]:
# Check data shape
df.shape

(1369765, 18)

In [7]:
len(df)

1369765

In [8]:
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 2ms
Audited 11 packages in 0.19ms

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
df_iter = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator = True,
    chunksize = 10000,
)

In [15]:
from tqdm.auto import tqdm

In [16]:
for df_chunk in tqdm(df_iter): 
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(len(df))

1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765
1369765